*{
  margin:0;
  padding:0;
}

.video-container{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: -2;
}
.header:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.2);

  z-index:-1;
}

.header{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:2rem;
  padding-top:10rem;
}

.btn{
  text-transform:uppercase;
  background: transparent;
  color:black;
  padding: 1rem 2rem;
  letter-spacing:.2rem;
  display:inline-block;
  transition: all .3s;
  font-size:0.08;
  border:2px solid black;
  cursor:pointer;
  gap:0.5rem;
  box-shadow:0 1px 3px ;
  border-radius: 1rem;
  position: absolute;
  bottom:6%;
  left:7%;
  width:9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all .3s;
}
.btn:hover{
  color:white;
  background-color:transparent;
}

.btn span{
  display: inline-block;
  font-size:0.8rem;
  cursor: pointer;
  text-transform: capitalize;
  color:white;
}
.switch{
  position:absolute;
  width:50% ;
  height: 100%;
  top:0;
  left: 0;
  background: white;
  border-radius: 1rem;
  margin: 0;
  display: block;
  transition: all .3s;
  
}
.slide .switch{
  left:50%;
  
}

